.carousel{
  margin-left: 250px !important;
}
.carousel.slide{
  height: 100px;
  width: 100px;
}
.carousel-indicators{
  display: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-control-prev{
  color: red !important;
}
