$textColor:white;
$background:white;
$colorTheme: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$colorTheme2: linear-gradient(45deg,#515BD4 ,#2134AF ,#DD2A7B ,#FEDA77 ,#F58529);
$hover:rgba(255, 255, 255, .1);
